{% extends 'base.html' %}
{% block title %}Home{% endblock title %}
{% block body %}

<div class="container-fluid px-0">
  <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://source.unsplash.com/1600x600/?nature,water" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://source.unsplash.com/1600x600/?moon" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://source.unsplash.com/1600x600/?sun" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

<div class="container my-3">
  <h1 class="my-4 text-center">Select your Class</h1>

  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" bis_skin_checked="1">
    <div class="col" bis_skin_checked="1">
      <div class="card shadow-sm" bis_skin_checked="1">
        <img src="https://source.unsplash.com/1200x900/?books" class="d-block w-100" alt="...">

        <div class="card-body" bis_skin_checked="1">
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
            content. This content is a little bit longer.</p>
          <div class="d-flex justify-content-between align-items-center" bis_skin_checked="1">
            <div class="btn-group" bis_skin_checked="1">
              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
            </div>
            <small class="text-muted">9 mins</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col" bis_skin_checked="1">
      <div class="card shadow-sm" bis_skin_checked="1">
        <img src="https://source.unsplash.com/1200x900/?studying" class="d-block w-100" alt="...">

        <div class="card-body" bis_skin_checked="1">
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
            content. This content is a little bit longer.</p>
          <div class="d-flex justify-content-between align-items-center" bis_skin_checked="1">
            <div class="btn-group" bis_skin_checked="1">
              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
            </div>
            <small class="text-muted">9 mins</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col" bis_skin_checked="1">
      <div class="card shadow-sm" bis_skin_checked="1">
        <img src="https://source.unsplash.com/1200x900/?studys" class="d-block w-100" alt="...">

        <div class="card-body" bis_skin_checked="1">
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
            content. This content is a little bit longer.</p>
          <div class="d-flex justify-content-between align-items-center" bis_skin_checked="1">
            <div class="btn-group" bis_skin_checked="1">
              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
            </div>
            <small class="text-muted">9 mins</small>
          </div>
        </div>
      </div>
    </div>

    <div class="col" bis_skin_checked="1">
      <div class="card shadow-sm" bis_skin_checked="1">
        <img src="https://source.unsplash.com/1200x900/?book" class="d-block w-100" alt="...">

        <div class="card-body" bis_skin_checked="1">
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
            content. This content is a little bit longer.</p>
          <div class="d-flex justify-content-between align-items-center" bis_skin_checked="1">
            <div class="btn-group" bis_skin_checked="1">
              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
            </div>
            <small class="text-muted">9 mins</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col" bis_skin_checked="1">
      <div class="card shadow-sm" bis_skin_checked="1">
        <img src="https://source.unsplash.com/1200x900/?learning" class="d-block w-100" alt="...">

        <div class="card-body" bis_skin_checked="1">
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
            content. This content is a little bit longer.</p>
          <div class="d-flex justify-content-between align-items-center" bis_skin_checked="1">
            <div class="btn-group" bis_skin_checked="1">
              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
            </div>
            <small class="text-muted">9 mins</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col" bis_skin_checked="1">
      <div class="card shadow-sm" bis_skin_checked="1">
        <img src="https://source.unsplash.com/1200x900/?library" class="d-block w-100" alt="...">

        <div class="card-body" bis_skin_checked="1">
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
            content. This content is a little bit longer.</p>
          <div class="d-flex justify-content-between align-items-center" bis_skin_checked="1">
            <div class="btn-group" bis_skin_checked="1">
              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
            </div>
            <small class="text-muted">9 mins</small>
          </div>
        </div>
      </div>
    </div>

    <div class="col" bis_skin_checked="1">
      <div class="card shadow-sm" bis_skin_checked="1">
        <img src="https://source.unsplash.com/1200x900/?study" class="d-block w-100" alt="...">

        <div class="card-body" bis_skin_checked="1">
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
            content. This content is a little bit longer.</p>
          <div class="d-flex justify-content-between align-items-center" bis_skin_checked="1">
            <div class="btn-group" bis_skin_checked="1">
              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
            </div>
            <small class="text-muted">9 mins</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col" bis_skin_checked="1">
      <div class="card shadow-sm" bis_skin_checked="1">
        <img src="https://source.unsplash.com/1200x900/?studies" class="d-block w-100" alt="...">

        <div class="card-body" bis_skin_checked="1">
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
            content. This content is a little bit longer.</p>
          <div class="d-flex justify-content-between align-items-center" bis_skin_checked="1">
            <div class="btn-group" bis_skin_checked="1">
              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
            </div>
            <small class="text-muted">9 mins</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col" bis_skin_checked="1">
      <div class="card shadow-sm" bis_skin_checked="1">
        <img src="https://source.unsplash.com/1200x900/?read" class="d-block w-100" alt="...">

        <div class="card-body" bis_skin_checked="1">
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
            content. This content is a little bit longer.</p>
          <div class="d-flex justify-content-between align-items-center" bis_skin_checked="1">
            <div class="btn-group" bis_skin_checked="1">
              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
            </div>
            <small class="text-muted">9 mins</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock body %}